{% include 'header.html.twig' %}
<body>
{% include 'menu.html.twig' %}
<h1>Search results</h1>
<table class="styled-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price USD</th>
    </tr>
    </thead>
    <tbody>
    {% for currency in currencies %}
        <tr>
            <td>{{ currency.name }}</td>
            <td>{{ currency.symbol }}</td>
            <td>{{ currency.price|number_format(8, '.', '') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>