body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

h1 {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: #936db2;
}
table {
    margin-bottom: 10px;
    margin-left: 20px;
}

table.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.styled-table thead tr {
    background-color: #290342;
    color: #ffffff;
    text-align: left;
}

table.styled-table th,
table.styled-table td {
    padding: 12px 15px;
}

table.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #290342;
}

table.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #290342;
}

form {
    margin-left: 20px;
    background-color: #fff;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
}
.well {
    margin-bottom: 20px;
    width: 90%;
}

.menu {
    margin-top: 20px;
    margin-left: 20px;
    text-color: black;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #290342;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #6a0da6;
}

.btn:hover {
    background-color: #6a0da6;
}