{% include 'header.html.twig' %}
<body>
<h1>Currency List</h1>
<table border="0">
    <thead>
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price USD</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.getName() }}</td>
            <td>{{ item.getSymbol() }}</td>
            <td>{{ item.getPrice()|number_format(8, '.', '') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<form action="" method="post" enctype="multipart/form-data">
    <div>
        <label for="symbol">Symbol:</label>
        <input type="text" name="symbol">
    </div>
    <div>
        <label for="amount">For how much USD?:</label>
        <input type="text" name="amount">
    </div>
    <div>
        <input class="btn" type="submit" name="buy" value="Buy">
    </div>
</form>

</body>
</html>