<!DOCTYPE html>
<html>
<head>
    <title>User wallet status</title>
</head>
<body>
<h1>Wallet Status</h1>
<table border="0">
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Amount</th>
        <th>Transactions</th>
        <th>Profitability</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item['symbol'] }}</td>
            <td>{{ item['amount']|number_format(8, '.', '') }}</td>
            <td>{{ item['transactions'] }}</td>
            <td>{{ item['profit'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>